<!-- each category page -->
{% if page.type %}
<div class="archive">
  <p class="archive_type">{{ page.type }}</p>
  <ul>
    {% for post in site.categories[page.type] %}
    {% if post.url %}
    <li>
        
        <div class='archive_title'>
          <a href='{{ post.url | relative_url }}'>
            {{ post.title | escape }}
          </a>
        </div>
      </li>
    {% endif %}
    {% endfor %}

  </ul>
</div>

<!-- main page -->
{% else %}
<div class="archive">
  <h2 style="text-align: center;">&nbsp;</h2>
  <h2 style="text-align: center;"><strong>简单易懂的塔罗牌搜索网页！有了这个的话就不需要一张一张地百度搜索解牌了</strong></h2>
  <p style="text-align: center;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span style="text-decoration: underline;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>&nbsp; &nbsp; &nbsp;&nbsp;</strong></p>
  <p style="text-align: center; color: #7a7a81;"><strong>&nbsp;请点击链接选择搜索的类型</strong></p>
</div>
{% endif %}